/*@import url("normalize.css");*/


/* Styles spécifiques pour l'impression */
@media print {
    body {
        background: white;
        font-family: Arial, serif;
        font-size: 1em;
        padding: 0.084%;
    }

    h2 {
        color: rgb(0, 102, 153);
        font-size: 2em;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
    }

    .Corps h3{
        color: rgb(0, 102, 153);
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
    }

    main header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main header h3 {
        display: none;
    }

    main header .more {
        text-align: left;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        border: .5px solid grey;
    }

    main header .more:only-child {
        text-align: left;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-wrap: wrap;
    }

    .more > * {
        width:auto;
    }

    main header .more h3 {
        display: flex;
    }

    main header article h3#Objectif + p {
        text-transform: uppercase;
        font-size: 1.8em;
        color: rgb(124, 199, 36);
    }

    main header article:has(#ButDuJeu) p {
        font-size: 1.5em;
        font-style: italic;
        color: blue;
    }

    article:has(#ButDuJeu) p::before {
        content: '"';
    }

    article:has(#ButDuJeu) p::after {
        content: '"';
    }

    nav, aside {
        display: none;
    }

    .more {
        display: flex !important;
    }

    .more span {
        display: none;
    }

    article {
        page-break-inside: avoid;
    }

    body > footer, section > footer {
        display: none;
    }

    main header, .Corps {
        border: none;
        box-shadow: none;
        width: 100%;
    }

    body > header {
        display: none;
    }

    p em {
        display: inline;
    }


    #toggleButton{
        display: none !important;
    }
}
